In [1]:
!pip install openpyxl
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (2.0.1)

In [2]:
import pandas as pd
co2Link='https://github.com/SDSRomina/parcial.tarea/raw/main/CO2%20emissions.xls'
accesToElectricityLink = 'https://github.com/SDSRomina/parcial.tarea/raw/main/Access%20to%20electricity%20.xls'
forestAreaLink = 'https://github.com/SDSRomina/parcial.tarea/raw/main/Forest%20area.xls'

#Aqui tenemos los tres datasframes
co2=pd.read_excel(co2Link)
accesToElectricity = pd.read_excel(accesToElectricityLink)
forestArea = pd.read_excel(forestAreaLink)

In [3]:
co2.shape,accesToElectricity.shape, forestArea.shape

((264, 4), (264, 4), (264, 4))

In [4]:
co2.columns,accesToElectricity.columns, forestArea.columns

(Index(['Country Name', 'Country Code', 'Year',
        'CO2 emissions (metric tons per capita)'],
       dtype='object'),
 Index(['Country Name', 'Country Code', 'Year',
        'Access to electricity (% of population)'],
       dtype='object'),
 Index(['Country Name', 'Country Code', 'Year', 'Forest area (% of land area)'], dtype='object'))

In [5]:
co2.merge(forestArea,how='inner',on = 'Country Code')

,Country Name_x,Country Code,Year_x,CO2 emissions (metric tons per capita),Country Name_y,Year_y,Forest area (% of land area)
0,Aruba,ABW,2020,NaN,Aruba,2020,2.333333
1,Afganistán,AFG,2020,0.223479,Afganistán,2020,1.852782
2,Angola,AGO,2020,0.592743,Angola,2020,52.981722
3,Albania,ALB,2020,1.544550,Albania,2020,28.791971
4,Andorra,AND,2020,5.777148,Andorra,2020,34.042553
...,...,...,...,...,...,...,...
259,Kosovo,XKX,2020,NaN,Kosovo,2020,NaN
260,"Yemen, Rep. del",YEM,2020,0.308515,"Yemen, Rep. del",2020,1.039832
261,Sudáfrica,ZAF,2020,6.687563,Sudáfrica,2020,14.025085
262,Zambia,ZMB,2020,0.401903,Zambia,2020,60.030150
263,Zimbabwe,ZWE,2020,0.530484,Zimbabwe,2020,44.974822

In [6]:
co2.merge(forestArea,how='inner',on = 'Country Code').merge(accesToElectricity, how='inner',on = 'Country Code')
#asignaremos todos esos merge a uno solo
ThreeDfs = co2.merge(forestArea,how='inner',on = 'Country Code').merge(accesToElectricity, how='inner',on = 'Country Code')

In [7]:
countryIsosLink = 'https://github.com/SDSRomina/parcial.tarea/raw/main/country_isos.xlsx'
countryIsos = pd.read_excel(countryIsosLink)
countryIsos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [ ]:
#Ahora tenemos que hacer un merge con el archivo junto de countryIsos
#Aqui tenemos todos los DFs mergueados, el allDFs no es una lista
allDFs = ThreeDfs.merge(countryIsos,how='inner', left_on = 'Country Code', right_on = 'iso3')
allDFs

In [ ]:
#un conjunto de columnas
allColNames=[]
allColNames = set(allDFs.columns)
allColNames

In [ ]:
# clean column names
allColNames.columns=allColNames.columns.str.replace(':\s',"_",regex=True)

allDFsConcat.columns.to_list()